body {
    background-color: #fef19a; /* Best Buy yellow */
    font-family: Arial, sans-serif; /* make text easier to read */
  }

  h1 {
    position: absolute;
    top: 3%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
  
  p1 {
      position: absolute;
      top: 32%;
      left: 26%;
      transform: translate(-50%, -50%);
      color: #0071c5;
      font-size: 24px;
    }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .box {
    width: 40%;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    margin: 20px;
    text-align: center;
  }
  
  h1 {
    color: #0071c5; /* Best Buy blue */
    font-size: 48px;
    font-weight: bold;
    margin-top: 50px;
  }
  
  p {
    color: #0071c5; /* Best Buy blue */
    font-size: 24px;
    margin-top: 50px;
  }
  
  a.button {
    display: inline-block;
    color: white;
    background-color: #0071c5; /* Best Buy blue */
    font-size: 18px;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
    margin-top: 80px;
    transition: background-color 0.3s ease;
  }
  
  a.button:hover {
    background-color: #005397; /* darker Best Buy blue on hover */
  }
  
  a.button:last-of-type {
    margin-right: 0; /* remove right margin on last button */
  }